@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
 
* {
	font-family: 'Nanum Gothic', sans-serif;
}
h5 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}
h4 {
    font-family: 'Noto Sans KR', sans-serif;
}
h3 {
    font-family: 'Noto Serif KR', serif;
}
h2 {
    font-family: 'Noto Serif KR', serif;
}
h1 {
    font-family: 'Noto Serif KR', serif;
}

/* 테이블 관련 디자인 처리 */
thead th {
	background-color: #006DCC;
	color: white;
	text-align: center;
}
tr td:first-child,
tr th:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
tr td:last-child,
tr th:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

/* 모달 팝업창 관련 디자인 처리 */
.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.vertical-alignment-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

.modal-content {
	width: inherit;
	height: inherit;
	margin: 0 auto;
	pointer-events: all;
}

/* 전체 링크 관련 영역 */
a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #bbbbbb;
	text-decoration: none;
	cursor: pointer;
}

/* 네비게이션 영역 */
.navbar-default { /* 배경색 */
	background-color: #006DCC;
	border-color: #006DCC;
	border-bottom-color: #dddddd;
	border-bottom-width: 3px;
	border-radius: 0px;
}
.navbar-default .navbar-brand { /* 제목색 */
	color: #ffffff;
	padding-top: 7px;
	font-family: 'Noto Serif KR', serif;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus { /* 제목에 마우스 올렸을 때 */
	color: #dddddd;
	background-color: transparent;	
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { /* 선택된 네비게이션 마우스 색상 */
	color: #ffffff;
	background-color: #1456b8;
}
.navbar-default .navbar-nav > li > a { /* 네비게이션 글자 폰트 */
	color: white;
	font-family: 'Noto Sans KR', sans-serif;	
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus { /* 네비게이션 글자에 마우스 올렸을 때 */
	color: #dddddd;	
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus { /* 열린 드랍다운 마우스 색상 */
	color: #006DCC;
	text-decoration: none;
	background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { /* 토글에 마우스 올렸을 때 */
	background-color: #1456B8;
}
.navbar-default .navbar-toggle .icon-bar { /* 토글 아이콘 바 색 */
	background-color: #dddddd;
}
@media (max-width: 767px) { /* 작은 화면일 때 드랍다운 아이템에 마우스를 올렸을 때 */
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #eeeeee;
	}
}

/* 네비게이션 바 길이 */
.navbar-fixed-top {
	min-height: 60px;
}
.navbar-nav > li > a {
	padding-top: 3px;
	padding-bottom: 3px;
	line-height: 60px;
}
@media (max-width: 767px) {
	.navbar-default .navbar-brand {
		padding-top: 3px;
		padding-bottom: 3px;
	}
	.navbar-nav > li > a {
		padding-top: 3px;
		padding-bottom: 3px;
		line-height: 20px;
	}
}
.navbar-brand {
  	padding: 2 2px;
  	margin-top: 3px;
  	margin-bottom: 3px;
  	height: 45px;
 	line-height: 50px;
}

.navbar-brand img {
  	height: 45px;
}

/* 파일 업로드 디자인 */
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
.file {
	visibility: hidden;
	position: absolute;
}



